#intro.cf
  .banner.cf
    .kicker
      %p 
        <span class="run-in">Caffeine is used to</span> provide a "boost of energy" or a feeling of heightened alertness. College students often use it to stay awake while cramming for finals and drivers use it to push through to their destination.
        %a(href="http://en.wikipedia.org/wiki/Caffeine") Learn More
  .big-three
    %h2 Caffeine Affects...
    %section.thesis-point
      %h3 Energy Drink Drinkers
      %p A wide-ranging review of the effects of high-caffeine energy drinks on children and young adults finds that they have been linked to an array of serious events.
      %a(href="/energy-drink-side-effects") Learn More
    %section.thesis-point.middle
      %h3 Working Out With Caffeine
      %p Good news for coffee, tea, and cola lovers: Caffeine may be the perfect complement to your workouts.
      %a(href="/working-out-caffeine") Learn More
    %section.thesis-point
      %h3 Alzheimer's Disease
      %p The new findings provide evidence that caffeine could be a viable 'treatment' for established Alzheimer's disease, and not simply a protective strategy...
      %a(href="/caffeine-reverse-alzheimers-disease") Learn More
#feeds.cf
  #google
    %h2 Caffeine in the News
    -(0..2).each do |i|
      %article
        - key = i
        %h3 #{@articles[i]['title']}
        %p #{@articles[i]['content']}
        %a(href="#{@articles[i]['signedRedirectUrl']}") Read More
  #twitter
    %h2 Caffeine Tweets
    %ul
      -(0..4).each do |i|
        %li.last
          .thumb
            %img(src="#{@tweets[i]['profile_image_url']}")
          .content
            %a(href="http://twitter.com/#{@tweets[i]['from_user']}") @#{@tweets[i]['from_user']}
            = " " + @tweets[i]['text']
