#intro.cf
  .banner.cf
    .kicker
      %p 
        <span class="run-in">Caffeine is used to</span> provide a "boost of energy" or a feeling of heightened alertness. College students often use it to stay awake while cramming for finals and drivers use it to push through to their destination.
        %a(href="#") Learn More
  .big-three
    %h2 Caffeine Affects...
    %section.thesis-point
      %h3 Attention
      %p We have a few rules here. Nobody panics. There's no judgment. You park your judgment at the door.
      %a(href="#") Learn More
    %section.thesis-point.middle
      %h3 Physical
      %p I am on a drug. It's called Charlie Sheen. It's not available. If you try it once, you will die.
      %a(href="#") Learn More
    %section.thesis-point
      %h3 Disease
      %p I tried marriage. I'm 0 for 3 with the marriage thing. So, being a ballplayer — I believe in numbers.
      %a(href="#") Learn More
#feeds.cf
  #google
    %h2 Caffeine in the News
    -(0..2).each do |i|
      %article
        - key = i
        %h3 #{@articles[i]['title']}
        %p #{@articles[i]['content']}
        %a(href="#{@articles[i]['signedRedirectUrl']}") Read More
  #twitter
    %h2 Caffeine Tweets
    %ul
      -(0..4).each do |i|
        %li.last
          .thumb
            %img(src="#{@tweets[i]['profile_image_url']}")
          .content
            %a(href="http://twitter.com/#{@tweets[i]['from_user']}") @#{@tweets[i]['from_user']}
            = " " + @tweets[i]['text']
